<!--<div class="bg-secondary text-center " style="width:100%;height:30px;display:flex;justify-content: space-around;">
  <div> <input onclick="Choise('ALL')" type="radio" name="brand" id=""><label for="">ALL</label></div>
  <div> <input onclick="Choise('OPPO')" type="radio" name="brand" id=""><label for="">OPPO</label></div>
  <div><input onclick="Choise('SAMSUNG')" type="radio" name="brand" id=""><label for="">SAMSUNG</label></div>
  <div><input onclick="Choise('REALME')" type="radio" name="brand" id=""><label for="">REALME</label></div>
  <div><input onclick="Choise('VIVO')" type="radio" name="brand" id=""><label for="">VIVO</label></div>
  <div><input onclick="Choise('REDMI')" type="radio" name="brand" id=""><label for="">REDEMI</label></div>
  <div><input onclick="Choise('ONE PLUSE')" type="radio" name="brand" id=""><label for="">ONE PLUSE</label></div>

</div>-->
<section class="product_section layout_padding">


  <div class="container">

    <div class="heading_container heading_center">
      <h2>Our Products</h2>
    </div>

    <div class="row product-list">
      {{#each products}}
      <div class="col-sm-6 col-lg-4 product">
        <div class="box">
          <div class="img-box">
            <img src="/product-image/front_{{this._id}}.jpg" alt="" />
            <a href="/product-detailes/{{this._id}}" class="add_cart_btn">
              <span> View Product </span>
            </a>
          </div>
          <div class="detail-box">
            <h5 class="productname">{{this.name}} <br> <small class="font-italic" style="color:rgb(110, 111, 126) ; font-size:small">{{this.ram}} |
                {{this.rom}}</small></h5>
            <div class="product_info">
              <h5><span>₹</span> {{this.price}} </h5>
              <div class="star_container">

                <!-- <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}


    </div>

  </div>
</section>

<script>
  function Choise(brand) {
    $.ajax({
      url: '/customer-choise',
      method: 'post',
      data: {
        brand: brand
      },
      success: () => {
        location.reload()
      }
    })
  }
</script>
<script src="/javascripts/searchbox.js"></script>