<section>
    <div class="container mt-5">
        <h1 style="text-align:center ; color:rgb(126, 112, 139);" class="mb-5"><small>Order History</small> </h1>
        <div class="d-flex justify-content-center row">

            <div class="col-md-10">

                <div class="rounded">
                    <div class="table-responsive table-borderless">

                        <table class="table table-hover" id="orders">
                            <thead>
                                <tr>

                                    <th>NO</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Payment Type</th>
                                    <th>status</th>
                                    <th>Total</th>
                                    <th>Created</th>
                                    <th>Time</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                {{#each Orders}}
                                <tr>

                                    <td></td>
                                    <td>{{this.deliveryDetails.fname}}</td>
                                    <td>{{this.deliveryDetails.phone}}</td>
                                    <td>{{this.payment}}</td>
                                    <td>{{this.status}}</td>
                                    <td>₹{{this.totel}}.00</td>
                                    <td>{{this.date}}</td>
                                    <td>{{this.time}}</td>
                                    <td><a href="/user/view-order-product/{{this._id}}"
                                            class="btn btn-outline-secondary">view more</a></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>